html{
    font-size: 10px;
}

li {
    display: inline;
    list-style: none;
    
}
    
a{
    font-size: 2rem;
    color: yellowgreen;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
