@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
}

/*PRACTICA 1*/ 

html{
    font-size: 10px;
}

li {
    display: inline;
    list-style: none;
    
}
    
a{
    font-size: 2rem;
    color: yellowgreen;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}


/*PRACTICA 2*/

/*1)BOX MODEL QUE ES
Son cajas o cuadros que envueleven cada elemento HTML
Consiste en: margenes, bordes, rellenos.


2)Se separa en 4 capas
CONTENT-BOX
PADDING-BOX
BORDER-BOX
MARGIN-BOX

3)Se tgiene que colocar como unibersal la propiedad "box-sizeng"
*,
*::before,
*::after{
    box-sizeng
}

4)es lo que ocurre cuando se combinan dos elementos a nivel de bloque 
con márgenes verticales coincidentes. */
/*4)Margin botton y top, ejemplo de colapsado*/
.caja1{
    background-color: green;
    width: 200px;
    height: 200px;   
    border: 1px solid black;
    margin-bottom: 2rem;     
}
.caja2{
    background-color: yellow;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin-top: 3rem;
    display: block;
}

/*5)Margin sin "shorthand" y padding con shothand*/
h1{
    color: blue;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}
h2{
    color: brown;
    padding: 20px 20px 20px 25px;
}

/*6)Al colocar un margin-top negatico al cuadro 
morado, tiende a cubrir el margen 
del texto h2 ya que en este caso no lo aleja del h2, hace todo 
lo contrario y empiezaa invadir el espacio del elemento anterior*/

.caja4{
    background-color: blueviolet;
    width: 200px;
    height: 200px;
    margin-top: -1rem;
   
}
